<form (ngSubmit)="requestPopulate()" [formGroup]="populateFormGroup">
  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>Number of elements (1-250)</mat-label>
    <input
      formControlName="elementNumber"
      type="number"
      matInput
      [min]="MIN_ELEMENT"
      [max]="MAX_ELEMENT"
    />
    <mat-error>{{ setErrorMessage() }}</mat-error>
  </mat-form-field>

  <button
    type="submit"
    mat-button
    color="accent"
    [disabled]="!populateFormGroup.valid"
  >
    Populate elements
  </button>
</form>
